<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.unity3d.player"
	android:installLocation="preferExternal"
    android:versionCode="1"
    android:versionName="1.0">
	
    <uses-sdk android:minSdkVersion="9" android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" /> 
	<uses-permission android:name="android.permission.RECEIVE_SMS" />
	<uses-permission android:name="android.permission.SEND_SMS"/>
         
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
   
   	<!-- REQUIRED PERMISSIONS -->
	<!-- Custom permission declared so that only your application can receive your notifications. -->
	<permission
	    android:name="com.infobip.unity.demo.permission.C2D_MESSAGE"
	    android:protectionLevel="signature" />

	<!-- Previously custom defined permission -->
	<uses-permission android:name="com.infobip.unity.demo.permission.C2D_MESSAGE" />
	<!-- Permission to receive push notifications -->
	<uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
	<!-- Connect to the Infobip Push service -->
	<uses-permission android:name="android.permission.INTERNET" />
	<!-- Using push notifications requires a Google account -->
	<uses-permission android:name="android.permission.GET_ACCOUNTS" />
	<!-- Keeps the processor from sleeping when a message is received -->
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<!-- Checks network state -->
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<!-- REQUIRED PERMISSIONS -->

	<!-- OPTIONAL PERMISSIONS -->
	<!-- Needed for push notifications that contain VIBRATE flag. Optional, but recommended. -->
	<uses-permission android:name="android.permission.VIBRATE" />
	<!-- OPTIONAL PERMISSIONS -->

    <application 
        android:icon="@drawable/app_icon" 
        android:label="@string/app_name"
        android:allowBackup="false">
			
		<activity android:name="com.infobip.push.unity.IBPushLocationManager"
			android:label="@string/app_name"
			android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"
			android:configChanges="keyboard|keyboardHidden|orientation">
			<meta-data android:name="android.app.lib_name" android:value="unity" />
			<meta-data android:name="unityplayer.ForwardNativeEventsToDalvik" android:value="true" />
				<intent-filter>
					<action android:name="android.intent.action.MAIN" />
					<category android:name="android.intent.category.LAUNCHER" />
				</intent-filter>
		</activity>
			<!-- Required for managing location and live geo features after device rebooting. -->
	<receiver android:name="com.infobip.push.lib.LocationBootReceiver" android:exported="false">
	    <intent-filter>
	        <action android:name="android.intent.action.BOOT_COMPLETED"/>
	    </intent-filter>
	</receiver>	

	<!-- Required for using the Infobip location service. Retrieves user's location. -->
	<service android:name="com.infobip.push.lib.LocationService"/>
	<!-- Required for using the location feature. Updates user's location to te Infobip Push service. -->
	<service android:name="com.infobip.push.lib.LocationUpdateService"/>

	<!-- Required for live geo feature. It takes care of daily scheduled requests for getting live geo areas if some of them weren't received during normal application workflow. -->
	<receiver android:name="com.infobip.push.lib.livegeo.LiveGeoReceiver" android:exported="false">
	    <intent-filter>
	        <!-- used for covering marginal case scenarios when adding or removing areas failed (disabled providers) -->
	        <action android:name="android.location.PROVIDERS_CHANGED"/>
	    </intent-filter>
	</receiver>

	<!-- Required for live geo feature. Takes care of live geo transitions (enter/now/exit). -->
	<service android:name="com.infobip.push.lib.livegeo.ReceiveTransitionsIntentService" />
	<!-- Takes care of requesting, adding or removing areas -->
	<service android:name="com.infobip.push.lib.livegeo.LiveGeoIntentService" />

	    <!-- REQUIRED SERVICES -->
	    <service android:name="com.infobip.push.lib.InfobipPushService"/>
	    <!-- REQUIRED SERVICES -->

	    <!-- REQUIRED RECEIVERS -->
	    <receiver android:name="com.infobip.push.lib.InfobipPushReceiver"
	        android:permission="com.google.android.c2dm.permission.SEND">
	        <intent-filter>
	            <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
	            <action android:name="com.google.android.c2dm.intent.REGISTRATION"/>
	            <category android:name="com.infobip.unity.demo"/>
	        </intent-filter>
	    </receiver>

	    <receiver android:name="com.infobip.push.lib.InternalReceiver" />

	    <receiver android:name="com.infobip.push.unity.IBPushReceiver"
	        android:permission="com.infobip.unity.demo.permission.C2D_MESSAGE">
	        <intent-filter>
	            <action android:name="com.infobip.push.intent.REGISTERED_FOR_NOTIFICATIONS"/>
	            <action android:name="com.infobip.push.intent.REGISTRATION_REFRESHED"/>
	            <action android:name="com.infobip.push.intent.UNREGISTERED_FROM_NOTIFICATIONS"/>
	            <action android:name="com.infobip.push.intent.NOTIFICATION_RECEIVED"/>
	            <action android:name="com.infobip.push.intent.NOTIFICATION_OPENED"/>
	            <action android:name="com.infobip.push.intent.ERROR"/>

	            <category android:name="com.infobip.unity.demo"/>
	        </intent-filter>
	    </receiver>
	    <!-- REQUIRED RECEIVERS -->

	    <!-- REQUIRED METADATA TAG -->
	    <meta-data
	        android:name="com.google.android.gms.version"
	        android:value="@+integer/google_play_services_version" />
	    <meta-data
	    	android:name="IB_PROJECT_ID"
	    	android:value="S396503387923" />
	    <!-- REQUIRED METADATA TAG -->
	</application>
</manifest>